# build
bin
app.pid
proto/pb

# logs
logs
coverage

# tests
test_results

# migrate
migrate

# IntelliJ
.idea
*.iml
*.tar.gz

# asdf version manager
.tool-versions

#Terraform
.terraform

# Localstack cache
deployments/volume

# git worktrees
.worktrees
